body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    padding-top: 50px;
}

h3 {
    margin-top: -5px;
}

header {
    padding-bottom: 15px;
}